.login {
  height: 100vh;
  width: 100vw;
  background-color: #192A3E;
}

.login .login-container {
  background-color: #fff;
  flex-direction: column;
  height: 450px;
  margin-top: 100px;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 50px;
}

.login .login-container img {
  height: 100px;
}

.login .login-container .btn {
  width: 100%;
  background-color: #192A3E;
  border-color: #192A3E;
  height: 50px;
}

.login .login-container .btn.active {
  background-color: #192A3E;
  border-color: #192A3E;
  outline: none;
}
